ul{
    position:absolute;
    top: 50px;
    right: 100px;

}
li{
    display: inline;
    margin: 0 0 0 15px;
}
div{
    width:100px;
    background:red;
    display:inline-blcok;

}
/*a{
    text-decoration: none;
    
}