body{
    background:#0AC6FF ;
}
div{
    width:940px;
    height: 500px;
    margin: 40px 40px auto;
    background: #ffffff;
}
img{
    position: relative;
    top: 20px;
    width:300px;
}
ul{
    position:absolute;
    top: 150px;
    right: 100px;

}
li{
    display: inline;
    margin: 0 0 0 15px;
}

a{
    color:blue;
    text-decoration:none;
    font-size:30px;
}