body{
   background:#1C21EB;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.navegação{
    position: absolute;
    top:80px;
    right: 60px;
    color:#ffffff;
}
li{
    display: inline;
    margin: 0 0 0 15px;
}

.link{
    color:#ffffff;
    text-decoration:none;
    font-size:150%;
    transition:1s;
}
.link:hover{
    color:#D4AE0F;
    font-size: 160%;
}
.importante-sobremim{
    width:940px;
    margin:0 auto;
    padding-top:200px;
}
.empresa li{
    display:block;
    box-sizing:border-box;
    border:solid 5px #D4AE0F;
    margin:10px 0px;
    padding: 5px;
    border-radius:10px;
}
.atribuição li{
    border:none;
}
.titulos{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}
