body{
   background:#1C21EB;
}
.cabeçalhoimagem{
    position:relative;
    top:50px;
    width:300px;

}
.navegação{
    position:relative;
    bottom:70px;
    margin-left:40%;
    color:#ffffff;
}
li{
    display: inline;
    margin: 0 0 0 15px;
}

.link{
    color:#ffffff;
    text-decoration:none;
    font-size:150%;
    transition:1s;
}
.link:hover{
    color:#D4AE0F;
    font-size: 160%;
}
.imagemperfil-sembremim{
    position: relative;
    top:50px;
    left:30px;
    height: 197px;
    border:50px;
}