body{
    background:#0AC6FF ;
}
div{
    width:95%;
    height: 80%;
    margin: 40px auto;
    background: #ffffff;
}
img{
    position: relative;
    top:10px;
    width:300px;
}
ul{
    position:relative;
    bottom: 130px;
    margin-left: 480px;

}
li{
    display: inline;
    margin: 0 0 0 15px;
}

a{
    color:blue;
    text-decoration:none;
    font-size:30px;
}
